<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjwk.dao.CourseLibraryDao">


    <select id="queryVideoCourse" resultType="com.bjwk.model.CourseVideoBankVO">

        select id
        courseVideoBankId,coverMapImage,title,lecturer,contentValidity,starLevel,videoTime,isCharge,yuan,category,updateTime
        from course_video_bank

        <where>
            <if test="array.length != 0 ">
                category in
                <foreach collection="array" index="index" item="categoryId" open="(" close=")" separator=",">
                    #{categoryId}
                </foreach>
                and
            </if>
            isCharge = #{isCharge} and   status = 1
        </where>

    </select>

    <select id="queryVideoCollection" resultType="com.bjwk.model.pojo.UserCollection">
		select * from user_collection
		where userId = #{userId} and type = 0
	</select>

    <!--收藏操作 start-->
    <select id="queryIsCollection" resultType="java.lang.Integer">
		select id from user_collection
		where
		userId=#{userId} and type = #{type} and thingId = #{thingId}
	</select>


    <insert id="insertCollection">
		insert into user_collection(userId,thingId,type)
		values (#{userId},#{thingId},#{type})
	</insert>

    <delete id="deleteCollection">
		delete from user_collection
		where id =#{count}
	</delete>
    <!--end-->


    <select id="queryVideoDetails" resultType="com.bjwk.model.CourseVideoBankDetailVO">
		select id courseVideoBankId,video,title,contentValidity,lecturer,lecturerHeaderImg,
		  category,isCharge,yuan,videoTime,starLevel,packageNum
		 from  course_video_bank
		where id = #{courseVideoBankId}
	</select>

    <select id="queryVideoCourseCatalog" resultType="com.bjwk.model.CourseVideoBankCatalogDTO">
        select  id courseVideoBankId,title,videoTime,packageNum
        from course_video_bank
        where packageNum = #{packageNum} and status = 1
        order by  page desc
    </select>

    <update id="deleteVideoCourse">
        update course_video_bank set status = 0
        where
        id in
        <foreach collection="array" index="index" item="courseVideoBankId" open="(" close=")" separator=",">
            #{courseVideoBankId}
        </foreach>
    </update>

    <select id="queryMyCourseList" resultType="com.bjwk.model.CourseVideoBankVO">
        select
        cvb.id courseVideoBankId,cvb.coverMapImage,cvb.title,
        cvb.lecturer,cvb.contentValidity,cvb.starLevel,cvb.videoTime,
        cvb.isCharge,cvb.yuan,cvb.category,cvb.updateTime
        FROM user_collection uc
        left join course_video_bank cvb on uc.thingId = cvb.id
        where uc.userId = #{userId} and uc.type = 0
    </select>

</mapper>