<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjwk.dao.LuckyDrawDao">
<resultMap id="BaseResultMap" type="com.bjwk.model.LuckyDraw">
		<id column="prize_id" property="prizeId" />
		<result column="prize_name" property="prizeName" />
		<result column="prize_grade" property="prizeGrade" />
		<result column="prize_probability" property="prizeProbability" />
	</resultMap>
	<sql id="Base_Column_List">
		prize_name,prize_grade,prize_probability
	</sql>
	<insert id="insert" parameterType="com.bjwk.model.LuckyDraw" >
		insert into 
		lucky_draw(prize_name,prize_grade,prize_probability)
		values(
		#{prize_name},
		#{prize_gradeR},
		#{prize_probability}
		)
	</insert>
	<select id="selectByPrize" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" /> 
		from lucky_draw 
	</select>
	
</mapper>