<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjwk.dao.NearManDao">

  
    <resultMap type="com.bjwk.model.NearUsers" id="queryNearMan">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="sign" property="sign"/>
        
        <result column="sex" property="sex"/>
        <result column="nick_name" property="nickName"/>
        
        <result column="created" property="created"/>
        
         <collection property="lableMapList" ofType="java.util.HashMap">  
            <id column="lable_name" property="lableName"/>
            <result column="lable_type" property="lableType"/>
        </collection>  
    </resultMap>
   
  <select id="queryNearMan" resultMap="queryNearMan">
		 select jjuser.*,lable.lable_name,lable_type from users jjuser left join user_lable userlable on  jjuser.user_id=userlable.user_id
		left join lable lable on userlable.labe_id=lable.id
		 <where>
            jjuser.user_id in
            <foreach item="userId" collection="nearUserList" separator="," open="(" close=")" index="">
                #{userId}
            </foreach>
            <if test="sex!=null and sex!=''">
             and jjuser.sex=#{sex}
            </if>
            <if test="array.length>0">
             and userlable.labe_id in 
                <foreach item="labeId" collection="array" separator="," open="(" close=")" index="">
                #{labeId}
                </foreach>
            </if>
            
        </where>
  </select>
    
 
  
</mapper>       