<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjwk.dao.NoteDao">

			<insert id="createNote">
				insert into note(noteTitle,noteType,noteContent)values(#{noteTitle},#{noteType},#{noteContent})
			</insert>

	 		<delete id="deleteNote">
				delete from note
				where
				id = #{id}
			</delete>
</mapper>