<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	<bean id="prop" class="org.springframework.beans.factory.config.PropertiesFactoryBean">  
	   <property name="locations" value="classpath:log4j.properties"/>   
	</bean> 
	<bean id="TokenValidateAspect" class="com.bjwk.utils.annotation.TokenValidateAspect"/>
	<bean id="MyLog" class="com.bjwk.utils.annotation.LogAspect"/>
	
	<bean id="exceptionResolver" class="com.bjwk.utils.exception.ExceptionHandler"/>
	
	<bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator" />
	<context:component-scan base-package="com.bjwk.service"></context:component-scan>
	<context:component-scan base-package="com.bjwk.dao"></context:component-scan>	
		
</beans>
